body {
  width: 60%;
  margin: auto;
  color: #465560;
}

main {
  height: 100vh;
}

main .container-lg {
  height: 70%;
}

.open {
  color: #149b7b;
  margin: 20px 0;
}

.phone,
.drive {
  color: #f7941f;
  margin: 20px 0;
}

.logo-mobile {
  display: none;
}

.card-wrap {
  border: 1px solid slategray;
  height: 500px;
  overflow: auto;
}

.map-wrap {
  position: relative;
  background-color: violet;
  height: 500px;
}

.modal {
  position: absolute;
  height: 90%;
}

.modal a {
  width: 100%;
}

.modal-image {
  width: 100%;
}

.modal-image img {
  width: 100%;
}

.image {
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .logo-mobile {
    display: block;
  }

  .logo-desk {
    display: none;
  }

  body {
    width: 100%;
  }
}
